html {
    overflow: hidden;
}

body {
    background: url("./pic03.png");
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    /*background: rgba(0, 0, 0, 0.2);*/
}

nav {
    background: rgba(0, 0, 0, 0.2);
    height: 50px;
    z-index: 10;
}

.login {
    list-style: none;
    display: inline-block;
    text-align: center;
}

.login a:hover {
    background: rgba(255, 255, 255, 0.5);
    ;
}

.logined {
    list-style: none;
    display: list-item;
}

.list {
    float: right;
}

ul {
    margin: 0;
    padding: 0;
    float: right;
}

li {
    margin: 0;
    padding-right: 20px;
}

.login a,
.logined a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
}

.loginednone a {
    line-height: 30px;
}

.loginednone:hover {
    background: rgba(255, 255, 255, 0.2);
}

.li {
    display: none;
}

section {
    height: 1000px;
    /*background: rgba(0, 0, 0, 0.2);*/
    /*background: #444;*/
    z-index: 0;
}

article {
    width: 500px;
    height: 300px;
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 10px;
    background: -webkit-linear-gradient(left top, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.2));
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.2));
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.2));
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.2));
    /* 标准的语法 */
}

article h2 {
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
}

article p {
    padding: 5% 10%;
    letter-spacing: 1px;
    margin: 0;
}

.list:hover .li {
    display: list-item;
    list-style: none;
}

.foot {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 30px;
}

.logo {
    float: left;
    color: #fff;
    font-weight: 700;
    padding: 15px;
}