<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <title>崛起滑板社</title>
</head>
<body>
  <div class="main-wrapper">


  <header> <!-- header begin -->
    <nav>
      <div class="logo"><a href="#">滑板车交易网</a></div>
      <!-- <ul>

        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
      </ul> -->
    </nav>
    <div id="banner">
      <div class="inner">
        <h1>崛起滑板社</h1>
        <p>口号</p>
        <button type="button" name="button" onclick="jump()">所有滑板车</button>

        <!-- <div class="more">
          more
        </div> -->
      </div>

    </div>

  </header> <!-- header end-->
  <script type="text/javascript">
    function jump() {
      window.open("index.html");
    }
  </script>
  <div class="content"> <!-- content begin -->
<section class="green-section">
  <div class="wrapper">
    <div>
      <h2>About us</h2>
        <div class="hr"></div>
      <p class="sub-heading">Lorem ipsum dolor sit amet,
         consectetur adipisicing elit,
         sed do eiusmod tempor </p>
    </div>
    <div class="icon-group">
      <span class="icon">疯狂</span>
      <span class="icon">刺激</span>
      <span class="icon">个性</span>
    </div>
  </div>
</section>
<section class="gray-section">
  <div class="article-preview">
    <div class="img-section">
      <img src="img/pic01.jpg" alt="">
    </div>
    <div class="text-section">
      <h2>xiaobiaoti</h2>
      <p>Lorem ipsum dolor sit amet,
         consectetur adipisicing elit,
         sed do eiusmod</p>
    </div>
  </div>
  <div class="article-preview">
    <div class="text-section">
      <h2>xiaobiaoti</h2>
      <p>Lorem ipsum dolor sit amet,
         consectetur adipisicing elit,
         sed do eiusmod</p>
    </div>
    <div class="img-section">
      <img src="img/pic01.jpg" alt="">
    </div>
  </div>
  <div class="article-preview">
    <div class="img-section">
      <img src="img/pic01.jpg" alt="">
    </div>
    <div class="text-section">
      <h2>xiaobiaoti</h2>
      <p>Lorem ipsum dolor sit amet,
         consectetur adipisicing elit,
         sed do eiusmod</p>
    </div>
  </div>
</section>
<section class="purple-section">
  <div class="wrapper">
  <div class="heading-wrapper">
  <h2>biaoti</h2>
  <div class="hr"></div>
  <div class="sub-heading">
    Lorem ipsum dolor sit amet,
    consectetur adipisicing </div>
  <div class="card-group clearfix">
    <div class="card">
      <h3>biao3</h3>
      <p>Lorem ipsum dolor sit amet,
         oris nisi ut aliquip ex ea
         commodo consequat.
         Duis aute irure dolor in </p>
    </div>
    <div class="card ">
      <h3>biao3</h3>
      <p>Lorem ipsum dolor sit amet,
         oris nisi ut aliquip ex ea
         commodo consequat.
         Duis aute irure dolor in </p>
    </div>
    <div class="card">
      <h3>biao3</h3>
      <p>Lorem ipsum dolor sit amet,
         oris nisi ut aliquip ex ea
         commodo consequat.
         Duis aute irure dolor in </p>
    </div>
    <div class="card ">
      <h3>biao3</h3>
      <p>Lorem ipsum dolor sit amet,
         oris nisi ut aliquip ex ea
         commodo consequat.
         Duis aute irure dolor in </p>
    </div>
    <div class="card">
      <h3>biao3</h3>
      <p>Lorem ipsum dolor sit amet,
         oris nisi ut aliquip ex ea
         commodo consequat.
         Duis aute irure dolor in </p>
    </div>
    <div class="card ">
      <h3>biao3</h3>
      <p>Lorem ipsum dolor sit amet,
         oris nisi ut aliquip ex ea
         commodo consequat.
         Duis aute irure dolor in </p>
    </div>
  </div>
  </div>
</div>
</section>
  </div> <!--content end -->
  <footer>
    <ul class="share-group">
      <li>item1</li>
      <li>item2</li>
      <li>item3</li>
      <li>item4</li>
      <li>item5</li>
    </ul>
    <div class="copy">&copy LingHS 2017</div>
  </footer>
</body>
  </div>
</html>
