<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <load href=" !-PUBLIC-!/Css/page.css" />
    <link rel="stylesheet" href="__ROOT__\Application\Home\View\Store\css\storelist.css" media="screen" title="no title" charset="utf-8">
    <title>Document</title>
</head>

<body background="__PUBLIC__\img\store.jpg">
    <h1 align="center">商品列表</h1>
    <table width="1069" height="10">
        <section>
            <ul>
                <foreach name="list" item="li">
                    <div class="man">
                        <li>
                            <a href="#"><img src="__PUBLIC__/image/{$li.image}" alt="" />
                                <div class="desc">类型:{$li.goodsname}</div>
                                <div class="desc">介绍:{$li.introduce}</div>
                                <div class="money">价格:{$li.price}</div>
                                <div class="desc">联系方式:{$li.phone}</div>
                            </a>
                        </li>
                    </div>
                </foreach>
            </ul>
        </section>
    </table>
    <table>
        <div class="pages">
            {$page}
        </div>
    </table>

    <footer>
        &copy BY IMAX2017
    </footer>
</body>

</html>